<footer class="bg-light text-dark text-center py-3">
  <div class="container">
    <a href="https://github.com/ThompsonRaul/Avalia-Filmes.git" target="_blank">
<<<<<<< HEAD
      <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="icone-github" width="38"></a>
=======
      <img
        src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
        alt="icone-github"
        width="38"
    /></a>
>>>>>>> b34fe31105d5b807d984382c0cf295ec976bebe3
  </div>
  <div class="container">
    <p class="mb-0">
      Feito por
      <a
        href="https://www.linkedin.com/in/thompson-raul-dos-santos-vieira-8a1a391aa/"
        target="_blank"
        class="text-dark font-weight-bold"
        >Thompson Raul</a
      >
      e
      <a
        href="https://www.linkedin.com/in/david-vinicius-pereira-lima-1a2280271/"
        target="_blank"
        class="text-dark font-weight-bold"
        >David Vinícius</a
      >
    </p>
    <p class="mb-0"><%- "AvaliaFilmes &copy; " + new Date().getFullYear() %></p>
  </div>
</footer>
